{% extends 'base.html' %}{% block body %}<h4>Profile</h4><div class="row g-3"><div class="col-md-6"><div class="card p-3">
<p><b>{{u.name}}</b> ({{u.username}})<br>Block {{u.block}} &middot; Room {{u.room}} &middot; {{u.department or ''}}</p>
<form method="post"><input name="email" value="{{u.email or ''}}" class="form-control mb-2" placeholder="Email"><input name="phone" value="{{u.phone or ''}}" class="form-control mb-2" placeholder="Phone">
<button class="btn btn-primary">Save</button></form></div></div>
<div class="col-md-6"><div class="card p-3"><h6>Change Password</h6><form method="post"><input name="old" type="password" class="form-control mb-2" placeholder="Current password" required>
<input name="new" type="password" class="form-control mb-2" placeholder="New password (min 6)" required><button class="btn btn-primary">Update</button></form></div></div></div>{% endblock %}
